@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  animation: marquee 12s 0.3s linear infinite both;
}

@keyframes marquee {
  to {
    transform: translateX(min(-100%, 0px));
  }
}
.marquee2 {
  animation: marquee 16s 0.3s linear infinite both;
}

@keyframes marquee2 {
  to {
    transform: translateX(min(0 - 100%, 0px));
  }
}
.card-container {
  transition: transform 1s ease-in-out;
}
.card-container:hover {
  transform: scale(0.9);
}
/* transform 0.6s cubic-bezier(0.76, 0, 0.24, 1) */
.box {
  animation: widen 2s forwards cubic-bezier(0.76, 0, 0.24, 1);
}
@keyframes widen {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

.change-text::after {
  content: " ";
  overflow: hidden;

  width: 0;
  white-space: nowrap;
  margin-right: 2px white;
  animation: changetext 10s infinite linear 2s, blinker 5s linear 2s infinite;
  font: bold;
  white-space: nowrap;

  color: white;
}
@keyframes changetext {
  0% {
    content: " Front-end developer ";
  }
  100% {
    content: " React JS developer ";
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
